bgi.cxx
bgi.sdf
bgi.sln
bgi.suo
bgi.vcxproj
bgi.vcxproj.filters
bgi.vcxproj.user
bgiout.cxx
dibapi.h
dibutil.cxx
dibutil.h
drawing.cxx
file.cxx
graphics.h
misc.cxx
mouse.cxx
palette.cxx
README.html
text.cxx
winbgi.cxx
winbgi.h
winbgim.h
winbgitypes.h
winthread.cxx
Debug/
ipch/
.vs/
map2.txt
map3.txt